aniso8601==9.0.1
attrs==21.2.0
cffi==1.14.6
click==8.0.1
cryptography==3.4.7
Flask==1.1.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.13.0
mccabe==0.6.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
PyMySQL==1.0.2
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.22
toml==0.10.2
webargs==8.0.0
Werkzeug==0.16.1
marshmallow-enum==1.5.1